.org-sterl-llmpeon-parts-widget-header-bar-widget {
    background-color: #FFFFFF;
}

Button.org-sterl-llmpeon-parts-widget-header-bar-widget {
    background-color: #FFFFFF;
}

Label.org-sterl-llmpeon-parts-widget-header-bar-widget {
    background-color: #FFFFFF;
    color: #1A1A1A;
}

.org-sterl-llmpeon-parts-widget-user-question-response-widget {
    background-color: #FFFFFF;
}

StyledText.org-sterl-llmpeon-parts-widget-text-input-widget-styled-text {
    background-color:  #FFFFFF;
}
