<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.sterl.llmpeon.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>


   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="org.sterl.llmpeon.prefs.AiConfig"
            name="AI Configuration"
            class="org.sterl.llmpeon.parts.config.AiConfigPreferenceView">
      </page>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.sterl.llmpeon.parts.config.LlmPreferenceInitializer"/>
   </extension>

</plugin>
