<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.sterl.llmpeon.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>


   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="org.sterl.llmpeon.prefs.AiPeon"
            name="AI Peon"
            class="org.sterl.llmpeon.parts.config.AiPeonPreferencePage">
      </page>
      <page
            id="org.sterl.llmpeon.prefs.AiConfig"
            name="AI Peon Configuration"
            category="org.sterl.llmpeon.prefs.AiPeon"
            class="org.sterl.llmpeon.parts.config.AiConfigPreferenceView">
      </page>
      <page
            id="org.sterl.llmpeon.prefs.McpConfig"
            name="AI Peon MCP"
            category="org.sterl.llmpeon.prefs.AiPeon"
            class="org.sterl.llmpeon.parts.config.McpPreferenceView">
      </page>
      <page
            id="org.sterl.llmpeon.prefs.VoiceConfig"
            name="AI Config Voice"
            category="org.sterl.llmpeon.prefs.AiPeon"
            class="org.sterl.llmpeon.parts.config.VoicePreferenceView">
      </page>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.sterl.llmpeon.parts.config.LlmPreferenceInitializer"/>
      <initializer class="org.sterl.llmpeon.parts.config.McpPreferenceInitializer"/>
      <initializer class="org.sterl.llmpeon.parts.config.VoicePreferenceInitializer"/>
   </extension>

</plugin>
